<!DOCTYPE html>
<html>
	<head>
		<title>Web Audio Skethpad</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"> 
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/1.2.0/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
	</head>
	<body id="bod">
		<div id="app">
			<ul id="navigation">
			<input type="number" class="nav-item" v-model="bpm" :bpm="bpm" placeholder="BPM" v-el:tempo/>
			<div id="menu">
				<li class="nav-item">
					<select id="waveSelect" v-model="wave" :wave="wave">
					    <option value="sine">WAVE: SINE</option>
					    <option value="square">WAVE: SQUARE</option>
					    <option value="triangle">WAVE: TRIANGLE</option>
					    <option selected="selected" value="sawtooth">WAVE: SAWTOOTH</option>
					</select>
				</li>
				<li class="nav-item">
					<select id="octave" v-model="octave" :octave="octave">
						<option value="2.0">OCTAVE 0</option>
						<option selected="selected" value="1.0">OCTAVE -1</option>
						<option value="0.5">OCTAVE -2</option>
						<option value="4.0">OCTAVE +1</option>
						<option value="8.0">OCTAVE +2</option>				
					</select>
				</li>
				<li class="nav-item">
					<select id="sustain" v-model="sustain" :sustain="sustain">
						<option value="0.25">SIXTEENTH NOTE</option>
						<option selected="selected" value="0.5">EIGHTH NOTE</option>
						<option value="1.0">QUARTER NOTE</option>
						<option value="2.0">HALF NOTE</option>
						<option value="4.0">WHOLE NOTE</option>				
	
					</select>
				</li>
			</div>
			<div id="menub">
				<li class="nav-item">
					<select id="waveSelectb" v-model="waveb" :waveb="waveb">
					    <option value="sine">WAVE: SINE</option>
					    <option value="square">WAVE: SQUARE</option>
					    <option value="triangle">WAVE: TRIANGLE</option>
					    <option selected="selected" value="sawtooth">WAVE: SAWTOOTH</option>
					</select>
				</li>
				<li class="nav-item">
					<select id="octaveb" v-model="octaveb" :octaveb="octaveb">
						<option value="2.0">OCTAVE 0</option>
						<option value="1.0">OCTAVE -1</option>
						<option selected="selected" value="0.5">OCTAVE -2</option>
						<option value="4.0">OCTAVE +1</option>
						<option value="8.0">OCTAVE +2</option>				
					</select>
				</li>
				<li class="nav-item">
					<select id="sustainb" v-model="sustainb" :sustainb="sustainb">
						<option value="0.25">SIXTEENTH NOTE</option>
						<option value="0.5">EIGHTH NOTE</option>
						<option selected="selected" value="1.0">QUARTER NOTE</option>
						<option value="2.0">HALF NOTE</option>
						<option value="4.0">WHOLE NOTE</option>				
					</select>
				</li>
			</div>
			<div id="menuc">
				<li class="nav-item">
						<input type="checkbox" id="loop" v-model="loop" :loop="loop">
						<label for="loop">LOOPING</label>
			<input type="checkbox" id="nav-trigger" class="nav-trigger" />
			<label id="burger" for="nav-trigger">&#9776;</label>
			<div id="wrapper">
				<div class="keyboard">
					<keyboard :chord="chord" :wave="wave" :octave="octave" :sustain="sustain" :bpm="bpm"></keyboard>
				</div>
				<div class="keyboard">
					<keyboard :chord="chord" :wave="wave" :octave="octave" :sustain="sustain" :bpm="bpm"></keyboard>
				</div>
				<input type="text" class="musplayer" v-model="stringnote" :stringnote="stringnote" @keydown.Enter="sendnote()" placeholder="Synth 1" v-el:mp1 />			
				<div class="keyboard">
					<keyboard :chord="chord" :wave="wave" :octave="octave" :sustain="sustain" :bpm="bpm"></keyboard>
				</div>
					<div class="keyboard">	
					<bkeyboard :chord="chord" :waveb="waveb" :octaveb="octaveb" :sustainb="sustainb" :bpm="bpm"></bkeyboard>
				</div>				<input type="text" class="musplayer2" v-model="stringnoteb" :stringnoteb="stringnoteb" @keydown.Enter="sendnote()" placeholder="Synth 2" v-el:mp2/> 				
				<div class="keyboard">
					<bkeyboard :chord="chord" :waveb="waveb" :octaveb="octaveb" :sustainb="sustainb" :bpm="bpm" ></bkeyboard>
				</div>
				<div class="keyboard">	
					<bkeyboard :chord="chord" :waveb="waveb" :octaveb="octaveb" :sustainb="sustainb" :bpm="bpm"></bkeyboard>
				</div>
				<template id="keyboard-template">
					<div  class="white-keys" v-el:k1 @click="play(130.81)"></div>
					<div  class="white-keys" v-el:k2 @click="play(139.00)"></div>
					<div  class="white-keys" v-el:k3 @click="play(146.83)"></div>
					<div  class="white-keys" v-el:k4 @click="play(156.00)"></div>
					<div  class="white-keys" v-el:k5 @click="play(164.81)"></div>
					<div  class="white-keys" v-el:k6 @click="play(174.61)"></div>
					<div  class="white-keys" v-el:k7 @click="play(185.00)"></div>
					<div  class="white-keys" v-el:k8 @click="play(196.00)"></div>
					<div  class="white-keys" v-el:k9 @click="play(208.00)"></div>
					<div  class="white-keys" v-el:k10 @click="play(220.00)"></div>
					<div  class="white-keys" v-el:k11 @click="play(233.00)"></div>
					<div  class="white-keys" v-el:k12 @click="play(246.94)"></div>
					<div  class="white-keys" v-el:k13 @click="play(261.63)"></div>
					<div  class="white-keys" v-el:k14 @click="play(277.00)"></div>
					<div  class="white-keys" v-el:k15 @click="play(293.66)"></div>
					<div  class="white-keys" v-el:k16 @click="play(311.00)"></div>
					<div  class="white-keys" v-el:k17 @click="play(329.63)"></div>
					<div  class="white-keys" v-el:k18 @click="play(349.23)"></div>
					<div  class="white-keys" v-el:k19 @click="play(370.00)"></div>
					<div  class="white-keys" v-el:k20 @click="play(392.00)"></div>
					<div  class="white-keys" v-el:k21 @click="play(415.00)"></div>
					<div  class="white-keys" v-el:k22 @click="play(440.00)"></div>
					<div  class="white-keys" v-el:k23 @click="play(466.00)"></div>
					<div  class="white-keys" v-el:k24 @click="play(493.88)"></div>
					<div  class="white-keys" v-el:k25 @click="play(523.25)"></div>
				</template>
				<template id="bkeyboard-template">
					<div  class="white-keys" v-el:kb1 @click="play(130.81)"></div>
					<div  class="white-keys" v-el:kb2 @click="play(139.00)"></div>
					<div  class="white-keys" v-el:kb3 @click="play(146.83)"></div>
					<div  class="white-keys" v-el:kb4 @click="play(156.00)"></div>
					<div  class="white-keys" v-el:kb5 @click="play(164.81)"></div>
					<div  class="white-keys" v-el:kb6 @click="play(174.61)"></div>
					<div  class="white-keys" v-el:kb7 @click="play(185.00)"></div>
					<div  class="white-keys" v-el:kb8 @click="play(196.00)"></div>
					<div  class="white-keys" v-el:kb9 @click="play(208.00)"></div>
					<div  class="white-keys" v-el:kb10 @click="play(220.00)"></div>
					<div  class="white-keys" v-el:kb11 @click="play(233.00)"></div>
					<div  class="white-keys" v-el:kb12 @click="play(246.94)"></div>
					<div  class="white-keys" v-el:kb13 @click="play(261.63)"></div>
					<div  class="white-keys" v-el:kb14 @click="play(277.00)"></div>
					<div  class="white-keys" v-el:kb15 @click="play(293.66)"></div>
					<div  class="white-keys" v-el:kb16 @click="play(311.00)"></div>
					<div  class="white-keys" v-el:kb17 @click="play(329.63)"></div>
					<div  class="white-keys" v-el:kb18 @click="play(349.23)"></div>
					<div  class="white-keys" v-el:kb19 @click="play(370.00)"></div>
					<div  class="white-keys" v-el:kb20 @click="play(392.00)"></div>
					<div  class="white-keys" v-el:kb21 @click="play(415.00)"></div>
					<div  class="white-keys" v-el:kb22 @click="play(440.00)"></div>
					<div  class="white-keys" v-el:kb23 @click="play(466.00)"></div>
					<div  class="white-keys" v-el:kb24 @click="play(493.88)"></div>
					<div  class="white-keys" v-el:kb25 @click="play(523.25)"></div>
				</template>	
			</div>
		</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>
		<script type="text/javascript" src="scripts.js"></script>
	</body>
</html>