<!DOCTYPE html>
<html>
	<head>
		<title>Web Audio API Keyboard</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"> 
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	</head>
	<body id="bod">
		<div id="app">
			<div id="wrapper">
				<div class="keyboard">
					<keyboard v-for="frequency in frequencies" :frequency="frequency"></keyboard>
				</div>
				<div class="keyboard">
					<keyboard v-for="frequency in frequencies" :frequency="frequency"></keyboard>
				</div>
				<div class="keyboard">
					<keyboard v-for="frequency in frequencies" :frequency="frequency"></keyboard>
				</div>
				<div class="keyboard">
					<keyboard v-for="frequency in frequencies" :frequency="frequency"></keyboard>
				</div>			
				<template id="keyboard-template">
					<div  class="white-keys" @click="play(frequency.note)"></div>
				</template>	
			</div>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.js"></script>
			<script type="text/javascript" src="scripts.js"></script>
			</div>
		</div>
	</body>
</html>