* {
	box-sizing: border-box;
	text-decoration: none;
	transition: background .75s ease;
	font-family: 'Open Sans', sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;} 

#navigation {
    list-style: none;
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: 0;
    padding: 40px;
}

#wrapper {
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(to bottom right, #333 40%, #000);
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    font-size: 2em;
    color: white;
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 230px;
}

.nav-trigger:checked ~ #wrapper {
    left: 230px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, #wrapper {
    transition: left 0.5s;
}

#uppersynth {
	padding-top: 12em;
	display: flex;
	justify-content: center;
} 

#lowersynth {
	display: flex;
	justify-content: center;
} 

.keyboard, .keyboardb {
	position: relative;
	width: 100%;
	height: 260px;
	background-color: rgba(0,0,0,0);
	display: flex;
	padding: 0 7% 0;
}

.white-keys {
	flex-orientation: row;
	flex-;
	border: .5px solid #fff;
	background-color: rgba(0, 0, 0, 0);
	width: 60px;
	height: 240px;
	max-height: 400px;
	border: 1px solid #555;
	border-right: 0;
}

#noteC_3, #noteC_3b{
	border-right: 1px solid #555;
}

.black-keys {
	margin-left: -15px;
	float: left;
	position: absolute;
	width: 1.875em;
	height: 140px;
	padding-right: 20px;
	background-color: #555;
	border: 1px solid #555;
	display: block;
}

li select {
	font-size: 1em;
	background: none;
	color: #fff;
	border: none;
	padding: .5em;
	width: 150px;
}

li a {
	background: none;
	color: #3ce4f7;
	font-size: 1.5em;
	border: 2px solid #3ce4f7;
	border-radius: 0;
	padding: .5em;
	width: 170px;
}

#addKeyboard {
	color: #999;
	font-size: 1.2em;
	display: block;
	padding-bottom: 10px;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	transition: display .75s ease;
}

#menu {
padding-bottom: 25px;
}

#menub {
padding-top: 25px;
}

#theme {
margin-top: 20px;
font-size: 1.2em;
}
